/* Resets */
ul {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}
h1, h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: normal;
}
p {
    padding: 0;
    margin: 0 0 20px 140px;
}

a: link, a: visited  {
    text-decoration: underline;
    color: #000;
}
a: hover {
    text-decoration: none;
}
ul li {
    padding: 5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width: 200px;
}
/* Headers */
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
.logo {
    font: 2em Arial;
    margin: 0 0 10px 0;
    padding: 0;
    width: 200px;
    color: #fff;
}
/* Containers */
body {
    background: #70657D;
    font-family: Times New Roman;
    font-size: 0.85em;
}
#container, footer {
    background: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

header {
	width: 960px;
	margin: 0 auto 0 auto;
}

#container {
    min-height: 1024px ;
    border-radius: 5px 5px 0 0;
}
footer {
    border-radius: 0 0 5px 5px;
}
.widget {
    margin-bottom: 20px;
}
.widget h2 {
    margin: 0 0 10px 0;
    padding: 0 5px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}
.widget .inner {
    margin: 10px 5px 0 2px;
	text-align: justify;
}
.widget hr{
	padding-left: 5px;
}

/* Navigation */
nav {
    float: left; 
}
nav ul {
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li.current {
    font-weight: bold;
}
nav ul li a.last {
    border-right: 0;
} 
/* Aside */
/*aside {
    width: 160px;
    float: right;
    border-left: 1px dashed #aaa;
    padding-left: 15px;
}
*/
lside {
    width: 110px;
    float: left;
    /*border-right: 1px dashed #aaa;*/
    padding-left: 0px;
	padding-right: 15px;
    margin-right: 10px;
    padding-top: 5px;
}



/* Login */
#login li.link {
    margin-top: 5px;
}
/* Footer */
footer {
    border-top: 1px dashed #ddd;
    color: #999;
}
/* Misc */
.clear {
    clear: both;

}







